*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root{
	--heightHeader: 4rem;
	--heightMain: 50rem;
	--heightFooter: 20rem;
	--heightContainer: calc(var(--heightMain) + var(--heightFooter));
	--colorHeader: #000011;
	--colorAside: #2c2c2c;
	--colorMain: #1c1c1c;
	--colorFooter: #414141;
	--fontFamilyTitle: 'Baloo 2', cursive;
	--fontFamilyName: 'Roboto', sans-serif;
	--fontFamilyIntrodution: 'Montserrat', sans-serif;
	--fontSizeIntrodution: 4rem;
}

#container{
	height: var(--heightContainer);
	width: 100%;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#inicioHeader{
	height: var(--heightHeader);
	background-color: var(--colorHeader);
}

#headerTitulo{
	position: absolute;
	left: 0;
	height: var(--heightHeader);
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#titulo{
	color: white;
	font-family: var(--fontFamilyTitle);
	cursor: pointer;
}

#headerMenu{
	position: absolute;
	left: 30%;
	height: var(--heightHeader);
	width: 70%;
	display: flex;
	align-items: center;
}

#menu{
	position: absolute;
	height: calc(var(--heightHeader) / 2);
	width: calc(var(--heightHeader) / 2);
	right: 2rem;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

#line1, #line2, #line3{
	position: absolute;
	height: .2rem;
	background-color: white;
	border-radius: .5rem;
	transition: all .3s linear;
}
#line1{
	top: .1rem;
	width: 1.3rem;
}
#line2{
	top: .9rem;
	width: 2rem;
}
#line3{
	top: 1.7rem;
	width: 1.3rem;
}
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#inicioAside{
	position: absolute;
	right: 0rem;
	top: var(--heightHeader);
	height: calc(var(--heightMain) + var(--heightFooter));
	width: 0rem;
	background-color: var(--colorAside);
	transition: all .3s linear;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#inicioMain{
	height: var(--heightMain);
	width: 100%;
	background-color: var(--colorMain);
}

#myApresentation{
	position: absolute;
	top: 15rem;
	left: 0%;
	height: 20rem;
	width: 90%;
	flex-wrap: wrap;
	opacity: 0;
	animation: slideApresentation 2s ease forwards;
}

#name{
	font-family: var(--fontFamilyName);
	color: #aaaaaa;
}

#introdution{
	font-family: var(--fontFamilyIntrodution);
	color: white;
	font-size: calc(var(--fontSizeIntrodution) - 2rem);
}

#descrition{
	color: white;
	font-family: var(--fontFamilyIntrodution);
	text-align: center;
}

#linksButtons{
	position: absolute;
	height: 10rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#linkedInButton{
	height: 4rem;
	width: 10rem;
	border-radius: 2rem;
	background-color: #0e76a8;
	cursor: pointer;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

#linkedInSvg, #gitHubSvg{
	height: 2rem;
	top: 1rem;
	left: 1rem;
}

#linkedIn{
	color: white;
	top: 1.5rem;
	left: 4rem;
	font-family: var(--fontFamilyIntrodution);
	margin-top: .3rem;
	margin-left: .3rem;
}

#gitHub{
	color: black;
	top: 1.5rem;
	left: 4rem;
	font-family: var(--fontFamilyIntrodution);
	margin-top: .3rem;
	margin-left: .3rem;
}

#gitHubButton{
	height: 4rem;
	width: 10rem;
	border-radius: 2rem;
	background-color: white;
	cursor: pointer;
	margin: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes slideApresentation{
	to{
		left: 5%;
		opacity: 1;
	}
}

@media (min-width: 350px){
#introdution{
	font-size: calc(var(--fontSizeIntrodution) - 1rem);
}
}

@media (min-width: 500px){
#introdution{
	font-size: var(--fontSizeIntrodution);
}
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
@media (min-width: 810px){

#inicioMain{
	height: var(--heightMain);
	background-color: var(--colorMain);
}

#myApresentation{
	position: absolute;
	top: 15rem;
	left: 0rem;
	height: 20rem;
	width: 35rem;
	animation: slideApresentation 2s ease forwards;
	opacity: 0;
}

#name{
	font-family: var(--fontFamilyName);
	color: #aaaaaa;
}

#introdution{
	font-family: var(--fontFamilyIntrodution);
	color: white;
	font-size: var(--fontSizeIntrodution);
}

#descrition{
	color: white;
	font-family: var(--fontFamilyIntrodution);
	text-align: left;
}

@keyframes slideApresentation{
	to{
		left: 10%;
		opacity: 1;
	}
}

#linksButtons{
	justify-content: flex-start;
}

}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

#inicioFooter{
	height: var(--heightFooter);
	background-color: var(--colorFooter);
}
